---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import { getPermalink } from '~/utils/permalinks';
import Hero2 from '~/components/widgets/Hero2.astro';
import imageTop from '~/assets/images/groep-wedstrijd-2023-met-jubileum-logo.jpg';
import imageVliegshow from '~/assets/images/vliegshow.jpg';
import imageWedstrijd from '~/assets/images/20240629-Luchtvaartgroep zeist-0746.jpeg';
import imageHerdenking from '~/assets/images/4mei.jpeg';
import imageReunie from '~/assets/images/landingpage foto collage1.jpeg';
import FAQs from '~/components/widgets/FAQs.astro';
import Inschrijven from '~/components/widgets/Inschrijven.astro';
import Contact from '~/components/widgets/Contact.astro';

const metadata = {
  title: '60 jaar luchtvaartgroep Zeist',
  mail: '<a data-obfuscation href="mailto:60jaar@luchtvaartgroepzeist.nl">60jaar@luchtvaartgroepzeist.nl</a>',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        {
          text: 'Activiteiten',
          links: [
            {
              text: 'Dodenherdenking Werkhoven ✅',
              href: '#dodenherdenking',
            },
            {
              text: 'Modelvliegwedstrijden XL ✅',
              href: '#vliegwedstrijd',
            },
            {
              text: 'Sanicole Airshow ✅',
              href: '#vliegshow',
            },
            {
              text: 'Reunie 🎉',
              href: '#reunie',
            },
          ],
        },
        {
          text: 'FAQ',
          href: '#faq',
        },
        {
          text: 'Contact',
          href: '#contact',
        },
      ]}
      actions={[
        {
          text: 'Aanmelden reunie! 🎉',
          href: '#inschrijven',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Hero2
    id="hero"
    title="60 jaar!"
    tagline="Luchtvaartgroep Zeist"
    image={{ src: imageTop, alt: 'afbeelding scouts vliegwedstrijd' }}
    actions={[{ variant: 'primary', text: 'Meld je aan voor de reünie!', href: getPermalink('#inschrijven') }]}
  >
    <Fragment slot="subtitle">
      Dit jaar bestaat Luchtvaartgroep Zeist 60 jaar. De jubileumactiviteiten zijn inmiddels achter de rug, maar het
      hoogtepunt staat nog te wachten: onze reünie op 4 oktober! <br /><br />Meld je nu definitief aan voor deze
      gezellige middag en avond.<br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Hero2>

  <Content
    id="dodenherdenking"
    isReversed
    items={[
      {
        title: 'Herdenken',
        description:
          'In 2018 is een nieuwe traditie ontstaan en sindsdien nemen we elk jaar deel aan de herdenking op 4 mei, bij het monument van Régis Deleuze, achter kasteel Beverweerd. Aan deze herdenking neemt ook een detachement van de RAF-deel, van het laatste squadron waar Régis Deleuze gevlogen heeft. Als het weer het toelaat vindt er een eerbetoon plaats door middel van een fly-by van oude vliegtuigen van Vliegend Museum Seppe.',
        icon: 'tabler:number-80-small',
      },
      {
        title: 'Onze rol',
        description:
          'Als scouting groep reiken wij de kransen en bloemstukken aan de notabelen, net als de collega-scouts op de Dam. We leggen zelf het laatste bloemstuk. Omdat dit jaar in het teken staan van 80 jaar herdenken wil de organisator groot uitpakken en na afloop van de ceremonie aan alle belangstellenden een kop koffie, thee of warme chocolademelk aanbieden. Wij verzorgen de uitreiking van de warme chocomel.',
        icon: 'tabler:wheat',
      },
      {
        title: 'Mee-eten mag',
        description:
          'Je bent om 17:00 welkom bij het <a class="text-blue-600 underline dark:text-muted" href="https://maps.app.goo.gl/jrQQuuDper3YYS5R6">Pieter Dekker Groepshuis</a> om te genieten van een gezamelijke maaltijd. Daarna vertrekken we per fiets naar Werkhoven.',
        icon: 'tabler:tools-kitchen-2',
      },
      {
        title: 'Locatie',
        description:
          'Parkeren kan langs de weg ter hoogte van kasteel Beverweerd. We verzamelen om 19:30 aan het begin van <a class="text-blue-600 underline dark:text-muted" href="https://maps.app.goo.gl/2G7CDTqMpb6orhp58">"De Laan" (onverhard)</a> die leidt naar het monument. 19:45 lopen we dan gezamelijk en in stilte de laatste 300 meter naar het monument.',
        icon: 'tabler:map-pin',
      },
    ]}
    image={{
      src: imageHerdenking,
      alt: 'Dodenherdenking Werkhoven',
    }}
    callToAction={{
      text: 'Volledige programma op regischarlesdeleuze.nl ',
      icon: 'tabler:chevron-right',
      href: 'https://regischarlesdeleuze.nl/programma-herdenking-4-mei/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        4 mei 2025<br /><span class="text-2xl">Dodenherdenking Werkhoven</span>
        <span class="text-lg text-green-600 font-medium block mt-2">✅ Afgerond</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-dark dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="vliegwedstrijd"
    isAfterContent={true}
    items={[
      {
        title: 'Wat?',
        description:
          'Een lid bouwt 1 vliegtuig in een seizoen, dat wordt het vliegtuig waarmee je naar de Soesterduinen gaat voor de modelvliegwedstrijd. Dit is elk jaar net voor de zomervakantie: De welpen en scouts en meestal ook explorers, gaan gezamenlijk op de fiets naar de Soesterduinen. Daar vinden afstand-, tijd-, en doelvliegwedstrijden plaats met hun zelfgebouwde Aviadelaar, Sonny, Soe en Bartje. De winnaar in elke vliegtuigcategorie van de dag krijgt de wisselbeker. ',
        icon: 'tabler:info-square-rounded',
      },
      {
        title: 'XL?',
        description:
          'Dit jaar organiseren wij een uitgebreide versie van de modelvliegwedstrijden waarbij naast leden ook oud-leden mee mogen doen.',
        icon: 'tabler:plane',
      },
      {
        title: 'Fietsen',
        description:
          'Leden gaan op de fiets, als je wilt mag je meefietsen. Meer informatie volgt. Als je met ons meefietst: we starten bij het <a class="text-blue-600 underline dark:text-muted" href="https://maps.app.goo.gl/jrQQuuDper3YYS5R6">Pieter Dekker Groepshuis</a>.',
        icon: 'tabler:wheat',
      },
      {
        title: 'Bouwpakketen beschikbaar',
        description:
          'Heb je een bouwtekening van de Bartje nodig? En materiaal om er eentje te bouwen? Laat het hieronder weten, voor 10 euro leggen we een bouwpakket voor je klaar.',
        icon: 'tabler:send',
      },
      {
        title: 'Locatie',
        description:
          'De wedstrijden vinden plaats op een helling aan de <a class="text-blue-600 underline dark:text-muted" href="https://maps.app.goo.gl/VH6cabJ8zEK6wEmW8">oostkant van de soesterduinen</a>. Als je met de auto komt: <a class="text-blue-600 underline dark:text-muted" href="https://maps.app.goo.gl/2G7CDTqMpb6orhp58"> hier</a> kun je gratis parkeren.',
        icon: 'tabler:map-pin',
      },
    ]}
    image={{
      src: imageWedstrijd,
      alt: 'Art and Music Poster Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        12 juli 2025<br /><span class="text-2xl">Modelvliegwedstrijden XL</span>
        <span class="text-lg text-green-600 font-medium block mt-2">✅ Afgerond</span>
      </h3>
      <div>Deze activiteit heeft inmiddels plaatsgevonden en was een groot succes!</div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-dark dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="vliegshow"
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Planning',
        description: `We rijden op zaterdag 13 september naar Sanicole en zondagavond, de 14e komen we terug.`,
        icon: 'tabler:calendar-check',
      },
      {
        title: 'Overnachting',
        description: `Wij hebben een overnachting op loopafstand kunnen regelen! Laat je door ons verrassen (inschrijving is gesloten!).`,
        icon: 'tabler:bed',
      },
    ]}
    image={{
      src: imageVliegshow,
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Website Sanicole',
      icon: 'tabler:chevron-right',
      href: 'https://www.sanicole.com/nl/home-nl',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        13 & 14 september 2025<br /><span class="text-2xl">International Sanicole Airshow</span>
        <span class="text-lg text-green-600 font-medium block mt-2">✅ Inschrijven gesloten</span>
      </h3>
      <div>De aanmelding is inmiddels gesloten</div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-dark dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="reunie"
    items={[
      {
        title: 'Locatie',
        description:
          '<a class="text-blue-600 underline dark:text-muted" href="https://maps.app.goo.gl/jrQQuuDper3YYS5R6">Pieter Dekker Groepshuis</a> <br>Padvinderslaan 10, 3708 BS, Zeist',
        icon: 'tabler:map-pin',
      },
      {
        title: 'Parkeren',
        description:
          'Er zijn niet voldoende parkeerplaatsen beschikbaar bij het laantje. Wil je in de straten voor de Boskant parkeren en niet in de Boskant zelf. <br>Voor mensen die die invalidenparkeerplaats nodig hebben: laat ons dit graag vooraf weten via jubileum@luchtvaartgroep.nl, zodat we hier rekening mee kunnen houden. De invalidenparkeerplaatsen bevinden zich bij de hoofdingang van het terrein en worden duidelijk aangegeven.',
        icon: 'tabler:car',
      },
      {
        title: "📸 Foto's uit de oude doos",
        description:
          "Heb je nog leuke foto's uit jouw tijd bij de Luchtvaartgroep Zeist? Neem ze vooral mee! We maken een mooie plek waar we deze herinneringen tentoonstellen – het brengt zeker mooie verhalen en herinneringen naar boven.",
        icon: 'tabler:camera',
      },
      {
        title: 'BBQ',
        description: 'We sluiten de dag af met een gezellige barbecue!',
        icon: 'tabler:grill',
      },
      {
        title: 'Kosten',
        description: `Volwassenen: €25,00 pp<br>Kinderen: €12,50 pp<br><br>Dit is inclusief twee drankbonnetjes. Daarna zijn consumpties verkrijgbaar aan de bar tegen een kleine vergoeding. <br><br>Betalen graag tijdens het inschrijven. Dan hebben we alle tijd en aandacht voor elkaar tijdens de reünie.`,
        icon: 'tabler:cash',
      },
    ]}
    image={{
      src: imageReunie,
      alt: 'Reunie',
    }}
    callToAction={{
      text: 'Aanmelden vóór 17 september',
      icon: 'tabler:chevron-right',
      href: '#inschrijven',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        4 oktober 2025<br /><span class="text-2xl">Reünie</span>
      </h3>
      <div>
        <p class="mb-4">
          Het is zover! Op 4 oktober (16:00 tot 22:00 uur) as. organiseren we met veel plezier een gezellige reünie van
          Luchtvaartgroep Zeist, en we hopen van harte dat jij erbij bent! Een mooie gelegenheid om elkaar weer te
          ontmoeten, herinneringen op te halen en samen te genieten van een leuke middag en avond.
        </p>
        <p class="mb-4">
          Graag ontvangen we je aanmelding uiterlijk op <strong>17 september 2025</strong>, zodat we alles goed kunnen
          organiseren.
        </p>
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-dark dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Moet ik lid zijn om mee te doen?',
        description:
          'Als je afgelopen 60 jaar op enige manier verbonden bent geweest met onze groep dan ben je van harte welkom!',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Waarom hebben jullie deze aparte website gemaakt?',
        description: `Zodat je 'm makkelijk kunt delen met anderen die wij gemist hebben! Zij kunnen zichzelf dan ook inschrijven en krijgen dan ook e-mails bij belangrijk nieuws.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Moet ik elke dag op deze website kijken zodat ik niks mis?',
        description:
          'Nieuws zullen we altijd óók via een e-mail verspreiden. Dus je hoeft hier niet elke dag te kijken (maar dat mag natuurlijk wel! 😀)',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Jullie sturen mij deze e-mail, moet ik me dan ook inschrijven?',
        description: `Graag wel! We hebben veel e-mail adressen verzameld, maar we hebben geen idee of die ontvangers ook echt interesse hebben in deze activiteiten. We gebruiken de 'inschrijving' om dit te ontdekken en natuurlijk ook om je gericht te kunnen informeren.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Tot wanneer kan ik me inschrijven?',
        description: `Doe het alsjeblieft zo snel als je kunt, dit helpt ons organiseren en we kunnen je gericht informeren. Ook als je het nog niet precies weet is het zinvol dat je aangeeft waar je interesses liggen.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Ben ik al ingeschreven? En mag ik mijn inschrijving wijzigen?',
        description: `Je krijgt van ons altijd een bevestiging per e-mail. Afzender is ${metadata.mail} in deze e-mail staat alles dat je hebt ingevuld. Wijzigen kan door onderstaand formulier opnieuw in vullen, dat 'overschrijft' je vorige opgave.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Waar kan ik me inschrijven?',
        description: `Je bent er bijna, scroll nog iets verder. Daar vind je het formulier.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  />

  <Inschrijven
    id="inschrijven"
    actionUrl="https://luchtvaartgroepzeist.us15.list-manage.com/subscribe/post?u=db5d91e69bd533f2922009486&id=26d45d657d&f_id=00caa6e1f0"
    title="Meld je definitief aan voor de reünie! 🎉"
    subtitle="De aanmelding sluit op 17 september 2025. We hebben je definitieve keuze nodig voor een goede organisatie."
    inputs={[
      {
        type: 'email',
        name: 'EMAIL',
        label: 'E-mail adres',
        required: true,
      },
      {
        type: 'text',
        name: 'FNAME',
        label: 'Voornaam',
        required: true,
      },
      {
        type: 'text',
        name: 'LNAME',
        label: 'Achternaam',
        required: true,
      },
      {
        type: 'text',
        name: 'MOBIEL',
        label: 'Mobiele nummer',
        required: false,
      },
      {
        type: 'radio',
        name: 'RDEF',
        label: 'Kom je naar de reünie (4 oktober 2025)?',
        required: true,
        defaultValue: 'Ja',
        radioOptions: ['Ja', 'Nee'],
      },
      {
        type: 'number',
        name: 'RADULTS',
        label: 'Aantal volwassenen (inclusief jezelf)',
        defaultValue: '1',
        required: true,
      },
      {
        type: 'number',
        name: 'RCHILDEREN',
        label: 'Aantal kinderen',
        defaultValue: '0',
        required: true,
      },
      {
        type: 'text',
        name: 'RPAY',
        label: 'Totaalbedrag BBQ (wordt automatisch berekend)',
        defaultValue: '€0.00',
        required: true,
        readonly: true,
        isCalculated: true,
      },
      {
        type: 'radio',
        name: 'RPARKING',
        label: 'Heb je een gehandicaptenparkeerplaats nodig?',
        required: true,
        defaultValue: 'Nee',
        radioOptions: ['Ja', 'Nee'],
      },
    ]}
    button="Aanmelden voor reünie!"
    textarea={{
      name: 'OPMERKINGEN',
      placeholder: 'Bijzondere wensen, vragen over de BBQ betaling, of andere opmerkingen',
      label: 'Opmerkingen',
    }}
    description="We sturen direct een bevestiging. Het totaalbedrag wordt automatisch berekend. Op de volgende pagina kun je betalen via iDEAL of bankoverschrijving. Aanmelden kan tot 17 september 2025 en is pas defintief na betaling."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-dark dark:bg-transparent"></div>
    </Fragment>
  </Inschrijven>

  <Contact mail={metadata.mail} />
</Layout>
